<div class="form-froup row">

    <label class="col-sm-2 col-form-label">How to</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="HowTo"
        placeholder="What to do..">
    </div>
    <label class="col-sm-2 col-form-label">Command Line</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Line"
        placeholder="Enter Command Line">
    </div>
    <label class="col-sm-2 col-form-label">Platform</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Platform"
        placeholder="Enter Platform">
    </div>
    <label class="col-sm-2 col-form-label">Comment</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Comment"
        placeholder="Enter Comment">
    </div>
</div>

<button (click)="addCommand()" *ngIf="command.Id==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateCommand()" *ngIf="command.Id!=0" class="btn btn-primary">
    Update
</button>